<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Nuevo_usuario</servlet-name>
        <servlet-class>controller.Nuevo_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario2</servlet-name>
        <servlet-class>controller.Usuario2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paciente</servlet-name>
        <servlet-class>controller.Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citas</servlet-name>
        <servlet-class>controller.Citas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleado</servlet-name>
        <servlet-class>controller.Empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decuento</servlet-name>
        <servlet-class>controller.Decuento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cargo</servlet-name>
        <servlet-class>controller.Cargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servicio</servlet-name>
        <servlet-class>controller.Servicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enfermedad</servlet-name>
        <servlet-class>controller.Enfermedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expediente</servlet-name>
        <servlet-class>controller.Expediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalle</servlet-name>
        <servlet-class>controller.Detalle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Nuevo_usuario</servlet-name>
        <url-pattern>/nuevo_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario2</servlet-name>
        <url-pattern>/usuario2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paciente</servlet-name>
        <url-pattern>/paciente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citas</servlet-name>
        <url-pattern>/citas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleado</servlet-name>
        <url-pattern>/empleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decuento</servlet-name>
        <url-pattern>/decuento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cargo</servlet-name>
        <url-pattern>/cargo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servicio</servlet-name>
        <url-pattern>/servicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enfermedad</servlet-name>
        <url-pattern>/enfermedad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expediente</servlet-name>
        <url-pattern>/expediente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle</servlet-name>
        <url-pattern>/detalle.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
